<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/documentdb</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="db.entities.User"/>
        <mapping class="db.entities.Role"/>
        <mapping class="db.entities.Page"/>
        <mapping class="db.entities.PageVersion"/>
        <mapping class="db.entities.Heading"/>
        <mapping class="db.entities.Block"/>
        <mapping class="db.entities.Tag"/>
        <mapping class="db.entities.Comment"/>

    </session-factory>
</hibernate-configuration>